{% extends 'base.html.twig' %}

{% block title %}{{stock['name']}}{% endblock %}

{% block body %}
<div class="home-container">
    <h1>Stock - ({{stock['name']}})</h1>

    <ul class="home-container__nav">
        <li>
            <a href="{{ path('app_dashboard') }}">{{ 'back_to' | trans }} {{ 'dashboard.title' | trans }}</a>
            <text> | </text>
            <a href="{{ path('app_home') }}">{{ 'back_to' | trans }} {{ 'home' | trans }}</a>
        </li>
    </ul>

    <div class="home-container__stock-details">
        <div class="home-container__stock-details__title">
            <h2>{{stock['name']}}</h2>
        </div>
        <p class="home-container__stock-details__price">Price: {{stock['price']}}</p>
        <div class="home-container__stock-details__error">
            <p>{{error}}</p>
        </div>
        {{ form_start(form, {'attr': {'class': 'home-container__stock-details__form'}}) }}
            {{ form_row(form.amount) }}
            {{ form_row(form.portfolio) }}
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}