{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="home-container">
    <h1>Home</h1>

    <ul class="home-container__nav">
        <li>
            <a href="{{ path('app_dashboard') }}">Back to Dashboard</a>
        </li>
    </ul>

    <div class="home-container__stocks">
        {% for stock in  data %}
            <a href="{{ path('app_home_id', {id: stock.id}) }}" class="home-container__stocks__stock">
                <h4 class="home-container__stocks__stock-title">{{ stock['name'] }}</h4>
                <p class="home-container__stocks__stock-text">{{ stock['price'] }} <i>{{ app.user.balance.currency.value }}</i></p>
            </a>
        {% endfor %}
    </div>
</div>
{% endblock %}
