{% extends 'base.html.twig' %}

{% block title %}Balance{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('balance') }}
{% endblock %}

{% block body %}
<div class="balance-container">
    <h1>{{ 'balance' | trans }}</h1>

    <ul class="balance-container__nav">
        <li>
            <a href="{{ path('app_dashboard') }}">{{ 'back_to' | trans }} {{ 'dashboard' | trans }}</a>
        </li>
        <li>
            <button id="addBalance">+</button>
        </li>
    </ul>

    <div id="modalBalance" class="balance-container__modal">
        <div class="balance-container__modal-container">
            <div id="closeModalBalance" class="balance-container__modal-container__close">X</div>
            {{ form_start(form, {'attr': {'class': 'balance-container__modal-container__form'}}) }}
            <p>Minimum amount is 100</p>
            {{ form_row(form.amount) }}
            {{ form_row(form.submit) }}
            {{ form_end(form) }}
        </div>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Amount</th>
            <th scope="col">Currency</th>
        </tr>
        </thead>
        <tbody>
        {% for log in balanceLogs %}
            <tr>
                <td>{{ log.addedAt|date('d-m-Y H:i') }}</td>
                <td style="color: {{log.type == "add" ? "green" : "red"}}" >{{ log.amount|number_format(2, '.', ',') }}</td>
                <td>{{ app.user.balance.currency.value }}</td>
            </tr>
        {% endfor %}
        </tbody>
</div>
{% endblock %}
