{% extends 'base.html.twig' %}

{% block title %}Balance{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('balance') }}
{% endblock %}

{% block body %}
<div class="balance-container">
    <h1>Balance</h1>

    <ul class="balance-container__nav">
        <li>
            <a href="{{ path('app_dashboard') }}">Back to Dashboard</a>
        </li>
        <li>
            <button id="addBalance">+</button>
        </li>
    </ul>

    <div id="modalBalance" class="balance-container__modal">
        <div class="balance-container__modal-container">
            <div id="closeModalBalance" class="balance-container__modal-container__close">X</div>
            <form class="balance-container__modal-container__form" action="{{ path('app_balance_add') }}" method="post" >
                <div class="form-group">
                    <input type="number" class="form-control" name="amount" id="amount" placeholder="Enter amount" required min="100">
                    <p>Minimum amount is 100</p>
                </div>
                <div class="balance-container__modal-container__btns">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Amount</th>
            <th scope="col">Currency</th>
        </tr>
        </thead>
        <tbody>
        {% for balance in balances %}
            <tr>
                <td>{{ balance.addedAt|date('d-m-Y H:i') }}</td>
                <td style="color: {{balance.type == "buy" ? "green" : "red"}}" >{{ balance.amount|number_format(2, '.', ',') }}</td>
                <td>{{ app.user.balance.currency.value }}</td>
            </tr>
        {% endfor %}
        </tbody>
</div>
{% endblock %}
