{% extends 'base.html.twig' %}

{% block title %}Portfolio{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {#{{ encore_entry_script_tags('portfolio') }}#}
{% endblock %}

{% block body %}
<div class="portfolio-container">
    <h1>{{portfolio.name}}</h1>

    <ul class="portfolio-container__nav">
        <li>
            <a href="{{ path('app_dashboard') }}">{{ 'back_to' | trans }} {{ 'dashboard.title' | trans }}</a>
            <text> | </text>
            <a href="{{ path('app_portfolio') }}">{{ 'portfolios' | trans }}</a>
        </li>
    </ul>

    <div class="portfolio-container__portfolio-details">
        <h2>{{ 'portfolio' | trans }} {{ 'details' | trans }}</h2>
        <table class="portfolio-container__portfolio-details__details">
            <thead>
                <tr>
                    <th>{{ 'name' | trans }}</th>
                    <th>{{ 'total_amount' | trans }}</th>
                    <th>{{ 'change' | trans }}</th>
                    <th>{{ 'change' | trans }} %</th>
                    <th>{{ 'actual_value' | trans }}</th>
                    <th>{{ 'bought_date' | trans }}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{portfolio.name}}</td>
                    <td>
                        {{total}} {{app.user.balance.currency.value}}
                    </td>
                    <td style="color: {{actual >= total ? "green" : "red"}};">
                        {% if actual >= total %}
                            <i class="fas fa-arrow-up"></i>
                            {{(actual - total)|number_format(2, '.', ',')}}
                        {% else %}
                            <i class="fas fa-arrow-down"></i>
                            {{(total - actual)|number_format(2, '.', ',')}}
                        {% endif %}
                        {{app.user.balance.currency.value}}
                    </td>
                    <td style="color: {{actual >= total ? "green" : "red"}};">
                        {% if actual >= total %}
                            <i class="fas fa-arrow-up"></i>
                        {% else %}
                            <i class="fas fa-arrow-down"></i>
                        {% endif %}
                        {% if total == 0 %}
                            0.00 %
                        {% else %}
                            {{((actual - total) / total * 100)|number_format(2, '.', ',')}} %
                        {% endif %}
                    </td>
                    <td>{{actual|number_format(2, '.', ',')}} {{app.user.balance.currency.value}}</td>
                    <td>{{portfolio.createdAt|date('m/d/Y')}}</td>
                </tr>
            </tbody>
        </table>
        <h2>{{ 'assets' | trans }}</h2>
        <div class="portfolio-container__portfolio-details__assets">
            {% if portfolio.assets|length > 0 %}
                {% for asset in  portfolio.assets %}
                    {% if asset.isActive() %}
                        <a href="{{ path('app_home_id', {id: (newData|filter(item => item.name == asset.name)|first).id}) }}"
                        class="portfolio-container__portfolio-details__assets__asset">
                            <h4 class="portfolio-container__portfolio-details__assets__asset-title">{{ asset.name }}</h4>
                            <p class="portfolio-container__portfolio-details__assets__asset-text">{{ 'amount' | trans }}: <b>{{ asset.amount }}</b></p>
                            <p class="portfolio-container__portfolio-details__assets__asset-text">{{ 'bought_price' | trans }}: <b>{{asset.boughtPrice|number_format(2, '.', ',')}} {{ app.user.balance.currency.value }}</b></p>
                            <p class="portfolio-container__portfolio-details__assets__asset-text">{{ 'actual_price' | trans }}: 
                                {% for newAsset in newData %}
                                    {% if newAsset.name == asset.name %}
                                        <b style="color: {{newAsset.price >= asset.boughtPrice ? "green" : "red"}};">{{newAsset.price|number_format(2, '.', ',')}} {{app.user.balance.currency.value}}</b>
                                    {% endif %}
                                {% endfor %}
                            </p>
                            <p class="portfolio-container__portfolio-details__assets__asset-text">{{ 'bought_date' | trans }}: <b>{{asset.boughtAt|date('m/d/Y')}}</b></p>
                            <p class="portfolio-container__portfolio-details__assets__asset-text">{{ 'actual_value' | trans }}: <b>{{asset.amount * asset.boughtPrice|number_format(2, '.', ',')}} {{app.user.balance.currency.value}}</b></p>
                        </a>
                    {% else %}
                        <div class="portfolio-container__portfolio-details__assets__asset">
                            <h4 class="portfolio-container__portfolio-details__assets__asset-title">
                                {{ asset.name }}
                            </h4>
                            <p class="portfolio-container__portfolio-details__assets__asset-text">
                                Amount: 
                                <b>{{ asset.amount }}</b>
                            </p>
                            <p class="portfolio-container__portfolio-details__assets__asset-text">
                                Bought price: 
                                <b>{{asset.boughtPrice|number_format(2, '.', ',')}} {{ app.user.balance.currency.value }}</b>
                            </p>
                            <p class="portfolio-container__portfolio-details__assets__asset-text">
                                Sold price: 
                                {{asset.soldPrice|number_format(2, '.', ',')}} {{app.user.balance.currency.value}}
                            </p>
                            <p class="portfolio-container__portfolio-details__assets__asset-text">
                                Bought date: 
                                <b>{{asset.boughtAt|date('m/d/Y')}}</b>
                            </p>
                            <p class="portfolio-container__portfolio-details__assets__asset-text">
                                Actual value: 
                                <b>{{asset.amount * asset.boughtPrice|number_format(2, '.', ',')}} {{app.user.balance.currency.value}}</b>
                            </p>
                        </div>
                    {% endif %}

                {% endfor %}
            {% else %}
                <p>No assets</p>
            {% endif %}
        </div>
    </div>

</div>
{% endblock %}
