<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="https://icon-library.com/images/investment-icon-png/investment-icon-png-5.jpg">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <nav class="nav-container">
            <div class="nav-container__logo-name">
                <a class="" href="{{ path('app_home') }}">
                    <img src="https://icon-library.com/images/investment-icon-png/investment-icon-png-5.jpg" alt="" width="30" class="">
                    <p>Investments Manager</p>
                </a>
            </div>
                <a href="{{ path('app_balance') }}">Balance: 
                {% if app.user.balance %}
                    <b><p style="color: {{app.user.balance.amount > 0 ? "mediumseagreen" : "#f45a48"}};">
                        {{app.user.balance.amount}}
                    </p></b>
                {% else %}
                    <b><p style="color: mediumseagreen;">0</p></b>
                {% endif %}
                </a>
            </div>
        </nav>

        <span class="main-container">
            <div class="main-container__lateral">
                <p class="main-container__lateral__user">Welcome <b>{{app.user.username}}</b></p>
                <div class="main-container__lateral__items">
                    <a href="{{ path('app_home') }}" class={{'home' in app.request.attributes.get('_route') ? "main-container__lateral__items__item--active" : 'main-container__lateral__items__item'}}>Home</a>
                    <a href="{{ path('app_dashboard') }}" class={{'dashboard' in app.request.attributes.get('_route') ? "main-container__lateral__items__item--active" : 'main-container__lateral__items__item'}}>Dashboard</a>
                    <a href="{{ path('app_portfolio') }}" class={{'portfolio' in app.request.attributes.get('_route') ? "main-container__lateral__items__item--active" : 'main-container__lateral__items__item'}}>Portfolios</a>
                        {% for portfolio in app.user.portfolios %}
                            {% if app.request.attributes.get('_route_params')|keys|length > 0 %}
                                {% if (portfolio.id == app.request.attributes.get('_route_params').id and 'portfolio' in app.request.attributes.get('_route')) %}
                                    <a href="{{ path('app_portfolio_show', {id: portfolio.id}) }}" class="main-container__lateral__items__item__portfolio main-container__lateral__items__item__portfolio--active">{{portfolio.name}}</a>
                                {% else %}
                                    <a href="{{ path('app_portfolio_show', {id: portfolio.id}) }}" class="main-container__lateral__items__item__portfolio">{{portfolio.name}}</a>
                                {% endif %}
                            {% else %}
                                <a href="{{ path('app_portfolio_show', {id: portfolio.id}) }}" class="main-container__lateral__items__item__portfolio">{{portfolio.name}}</a>
                            {% endif %}
                        {% endfor %}
                    <a href="{{ path('app_balance') }}" class={{app.request.attributes.get('_route') == 'app_balance' ? "main-container__lateral__items__item--active" : 'main-container__lateral__items__item'}}>Balance</a>
                </div>
                <a href="{{ path('app_logout') }}" class="main-container__lateral__logout">Logout</a>
            </div>
            <main class="main-container__main">
                {% block body %}{% endblock %}
            </main>
        </span>

    </body>
</html>
